.Heading{

    display: flex;  
    justify-content: center;
    font-size: 100px;
    margin-top: 0px;
    color: rgb(153, 153, 0);

}

.book-section{

     display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    row-gap: 80px;
margin-left: 180px;
}

.books{

position: relative;
padding-right: 0px;  
display: flex;
/*justify-content: center; */ 
border-style: solid;
display: inline-block;
max-width: 300px;
min-height: 200px;
max-height: 200px;



}


.add-button-books{

    position: fixed;
    margin-left: 865px;
    margin-top: -50px;


}

.book-grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);


}

.Book-formed{

    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;



}

.fill-form{

    position: fixed;
    display: flex;
    font-size: 70px;
    margin-left: 260px;
    flex-direction: column;
    border-style: solid;
    padding: 50px;
    display: none;
    background-color: blue;


}

.display-list{

    display: block;


}


.input-fill{

        font-size: 70px;


}

.inner-div{

    display: flex;
    justify-content: space-between;
    column-gap: 50px;

}

.Enter-Button{

    position: fixed;
    margin-left: 600px;
    margin-top: 20px;

}

.reading-status{

    display: flex;
    flex-direction: row;
    column-gap: 100px;

}

.radio{

    transform: scale(3);

}


.selector-click{

    display: flex;
    column-gap: 50px;



}

.Book-Name-full{


    display: flex;

}



.Book-Name{

    position: absolute;
         left: 120px;
    ;


}

.DeleteButton{


    position: absolute;
    top: 150px;
    left: 180px;

}

.status-change{

    position: absolute;
    top: 150px;

}

.close-change{

    position: absolute;
    left: 1420px;
    bottom: 160px;
    display: none;
    


}

.close-change-changes{

    position: absolute;
    left: 1420px;
    bottom: 160px;
    display: block;
    


}


.Absolute-Author-Name , .Absolute-Page-Number , .Absolute-Reading-Name  {


display: flex;


}


.Book-Author , .Book-Page , .Book-Reading {

    position: absolute;
    left: 120px;



}