.Heading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  justify-content: center;
  font-size: 100px;
  margin-top: -13px;
  color: black;
}

.black-line {
  position: absolute;
  left: -13px;
  border-style: solid;
  background-color: black;
  height: 0.00001px;
  width: 500000px;
  top: 115px;
}

.feature-button {
  background-color: white;
  border-style: none;
  height: 70px;
}

.add-button-image {
  height: 20px;
}

.Close-Button {
  display: none;
  position: absolute;
  right: 3px;
  top: 3px;

  background-color: white;
  border-style: none;
}

.Close-Button-after {
  animation: listAppearing 3s alternate;
  background-color: white;
  border-style: none;
  display: flex;
}

.Close-Button-after:hover {
  cursor: pointer;
}

.close-button-image {
  height: 30px;
}

.book-section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 80px;
}

.book-section-change {
  display: none;
}

.books {
  position: relative;
  padding-right: 0px;
  display: flex;
  justify-content: center;
}

.Book-formed:hover {
  animation: example 1s alternate;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

@keyframes example {
  0% {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.add-button-div {
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.add-button-books:hover {
  animation: example2 1s alternate;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75);
}

@keyframes example2 {
  0% {
    box-shadow: 1px 0px 0px 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75);
  }
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Author-name-0{
    display: flex;
    justify-content: space-between;
}

.Book-formed {
  background-color: rgb(214, 214, 214);
  border-style: solid;
  border-radius: 20px;
  min-width: 200px;
  padding: 30px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.button-div {
  display: flex;
  justify-content: space-between;
}

.main-form-div {
  display: flex;
  justify-content: center;
}

.fill-form {
  display: flex;
  margin-top: 40px;
  font-size: 70px;
  flex-direction: column;
  border-style: solid;
  padding: 50px;
  display: none;
  opacity: 0;
  height: 400px;
  /*background-color: blue;*/
}

.title-reading {
  min-width: 500px;
}

.display-list {
  animation: listAppearing 3s alternate;
  position: fixed;
  display: flex;
  font-size: 70px;
  flex-direction: column;
  border-style: solid;
  border-radius: 10px;
  padding: 50px;
  display: none;
  /*background-color: blue;*/
  opacity: 1;
  display: block;
}

@keyframes listAppearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.input-fill {
  font-size: 50px;
  background-color: white;
  border-style: solid;
  border-color: black;
}

.inner-div {
  display: flex;

  justify-content: space-between;
  column-gap: 50px;
}

.Enter-Button {
  position: fixed;
  border-style: solid;
  background-color: white;
  margin-left: 550px;
  margin-top: 20px;
}

.Enter-Button:hover {
  cursor: pointer;
}

.reading-status {
  display: flex;
  min-width: 500px;
  flex-direction: row;
  column-gap: 100px;
}

.radio {
  transform: scale(3);
}

.selector-click {
  display: flex;
  min-width: 100px;
  column-gap: 50px;
}

.Book-Name-full {
  display: flex;
  justify-content: space-between;
}

.DeleteButton {
  background-color: rgb(242, 242, 242);

  border-style: none;
}

.status-change {
  background-color: rgb(242, 242, 242);
  border-style: none;
}

.DeleteButton:hover,
.status-change:hover {
  animation: example2 1s alternate;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.close-change {
  position: absolute;
  left: 1400px;
  bottom: 160px;
  display: none;
}

.close-change-changes {
  position: absolute;
  left: 1420px;
  bottom: 160px;
  display: block;
}

.Absolute-Author-Name,
.Absolute-Page-Number,
.Absolute-Reading-Name {
  display: flex;
  justify-content: space-between;
}

.Book-Reading {
  left: 130px;
}

.generated-button {
  height: 10px;
}

.noread-status {
  min-width: 300px;
}


