.Heading{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;  
    justify-content: center;
    font-size: 100px;
    margin-top: 0px;
    color: rgb(153, 153, 0);

}

.add-button-image{

    height: 20px;


}



.Close-Button{

    display: none;
    position: fixed;
    left: 1630px;
    top: 200px;
    background-color: white;
    border-style: none;


}



.Close-Button-after{

    animation: listAppearing 3s alternate ;
    background-color: white;
    border-style: none;
    display: block;
    position: fixed;
    left: 1630px;
    top: 200px;





}

.Close-Button-after:hover{

    cursor: pointer;


}


.close-button-image{

    height: 30px;

}



.book-section{

    display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   row-gap: 80px;
margin-left: 180px;

}


.book-section-change{


    display: none;
 

}




.books{

position: relative;
padding-right: 0px;  
display: flex;
/*justify-content: center; */
border-style: solid;
border-radius: 30px;
display: inline-block;
max-width: 300px;
min-height: 200px;
max-height: 200px;



}


.books:hover{

    animation: example 1s alternate ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);

}

@keyframes example {

    0%{

        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0);


    }

    100%{

        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);


    }



    
}




.add-button-books{

    position: fixed;
    margin-left: 865px;
    margin-top: -50px;
    background-color: white;
    border-style: none;
    cursor: pointer;


}

.add-button-books:hover{

    animation: example2 1s alternate ;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);



}


@keyframes example2 {

    0%{

        box-shadow: 1px 0px 0px 10px rgba(0,0,0,0);

    }

    100%{

        box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);

    }



    
}



.book-grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);


}

.Book-formed{

    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;



}

.fill-form{

    position: fixed;
    display: flex;
    font-size: 70px;
    margin-left: 260px;
    flex-direction: column;
    border-style: solid;
    padding: 50px;
    display: none;
    opacity: 0;
    /*background-color: blue;*/


}

.display-list{

    animation: listAppearing 3s alternate ;
    position: fixed;
    display: flex;
    font-size: 70px;
    margin-left: 260px;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
    display: none;
    /*background-color: blue;*/
    opacity: 1;
    display: block;


}

@keyframes listAppearing {

 0%{

    opacity: 0;

 }

 100%{

    opacity: 1;

}

    
}


.input-fill{

        font-size: 50px;

}

.inner-div{

    display: flex;
    justify-content: space-between;
    column-gap: 50px;

}

.Enter-Button{

    position: fixed;
    margin-left: 600px;
    margin-top: 20px;

}

.reading-status{

    display: flex;
    flex-direction: row;
    column-gap: 100px;

}

.radio{

    transform: scale(3);

}


.selector-click{

    display: flex;
    column-gap: 50px;



}

.Book-Name-full{


    display: flex;

}



.Book-Name{

    position: absolute;
         left: 120px;
    ;


}

.DeleteButton{


    background-color: white;
    position: absolute;
    top: 150px;
    left: 180px;
    border-style: none;

}

.status-change{

    background-color: white;
    border-style: none;
    left: 60px;
    position: absolute;
    top: 150px;

}

.close-change{

    position: absolute;
    left: 1400px;
    bottom: 160px;
    display: none;
    


}

.close-change-changes{

    position: absolute;
    left: 1420px;
    bottom: 160px;
    display: block;
    


}


.Absolute-Author-Name , .Absolute-Page-Number , .Absolute-Reading-Name  {


display: flex;


}


.Book-Author , .Book-Page , .Book-Reading {

    position: absolute;
    left: 120px;



}
.Book-Reading{

    left: 130px;


}

.generated-button{

height: 10px;


}